:root {
    --mainColor: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 100, 0), rgb(0, 200, 0), rgb(100, 255, 0), rgb(150, 255, 0), rgb(100, 255, 0), rgb(0, 200, 0), rgb(0, 100, 0), rgb(0, 0, 0));
    --greenColor: rgb(150, 255, 0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Monda', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-image: var(--mainColor);
    color: whitesmoke;
    height: 400vh;
}

/*mobile*/
@media (max-width:600px) {
    .nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        top:0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color: black;
        left: 100vw;
        transition: 0.5s;
    }

    .button-hamburger:hover+.nav-list {
        left: 0vw;
    }

    .nav-list>li {
        padding: 10px;
        font-size: 15vw;
        color: var(--greenColor);

    }

    .nav {
        position: sticky;
        top: 0;
        width: 100%;
        height: 40px;
        background-color: black;
        box-shadow: 0px 0px 10px 10px rgb(30, 30, 30);
    }

    .button-hamburger {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 60px;
        height: 40px;
    }

    .button-hamburger>span {
        display: block;
        position: absolute;
        border: 3px solid var(--greenColor);
        width: 30px;
        right: 0;
        margin-right: 15px;
        top: 17px;
        box-sizing: border-box;
    }

    .button-hamburger>span::before {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        border: 3px solid var(--greenColor);
        width: 30px;
        top: -14px;
        left: -3px
    }

    .button-hamburger>span::after {
        content: "";
        box-sizing: border-box;
        display: block;
        position: absolute;
        border: 3px solid var(--greenColor);
        width: 30px;
        top: 8px;
        left: -3px
    }

    h1{
        color:black;
        margin:10px;
        text-shadow: 5px 5px 18px black;
    }

    .home h1{
        color:var(--greenColor);
    }

    .home{
        padding:15px;
        text-align: left;
        font-size:20px;
        margin-top:100px;
    }

    .box{
        color:black;
        font-weight: 700;
        box-sizing: border-box;
        width:100%;
        height:600px;
        border: 3px dashed black;
        padding:15px;
        margin-bottom: 250px;
    }

    .fa-brands, .fa-solid{
        
        width:35px;
    } 


    ul.list-technology{
        font-size:1.5rem;
        height:80%;
        list-style-type: none;
        display:flex;
        flex-direction: column;
        justify-content:space-around;
    } 

    .about{
    
    }

    
}
